.createShowtimeBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}
.filmDetail {
  display: flex;
  padding: 0 200px 30px 200px;
  align-items: center;
}
.filmInfo {
  display: flex;
  flex-direction: column;
}
.filmInfo span {
  font-size: 20px;
  line-height: 25px;
  font-weight: 500;
}
.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  justify-content: center;
}

.mat-form-field {
  display: block;
}
/* Responsive */
@media screen and (max-width: 992px) {
  .filmInfo span {
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
  }

}
@media screen and (max-width: 768px) {
 
  .filmDetail {
    display: flex;
    padding: 0 100px 15px 100px;;
    align-items: center;
  }
}
@media screen and (max-width: 576px) {
 
  .filmDetail {
    display: flex;
    padding: 0 50px 15px 50px;;
    align-items: center;
  }
}
