.mr-2 {
  margin-right: 30px;
}

.title {
  text-align: center;
  margin: 30px 0;
}

.addUserBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}
.formAddUser {
  width: 50%;
}
.mat-form-field {
  display: block;
}
