<div class="container">
  <form class="search-container" (submit)="handleSearchUser()">
    <mat-form-field class="example-full-width" color="warn" appearance="outline">
      <mat-label>Nhập tên tài khoản</mat-label>
      <input color="warn" matInput #input="ngModel" placeholder="Nhập tên tài khoản" ngModel name="searchKey" />
    </mat-form-field>
    <button mat-raised-button color="warn">Tìm kiếm</button>
  </form>
  <div *ngIf="isLoading; else listUserTable" class="container text-center my-5">
    <div class="spinner-border text-danger" role="status"></div>
  </div>
  <ng-template #listUserTable>

    <table class="table">
      <thead class="thead-dark text-center">
        <tr>
          <th scope="col">STT</th>
          <th scope="col">Tài khoản</th>
          <th scope="col">Họ tên</th>
          <th scope="col">Email</th>
          <th scope="col">Số điện thoại</th>
          <th scope="col">Mã người dùng</th>
          <th scope="col">Xử lý</th>
        </tr>
      </thead>

      <p *ngIf="notFoundUser; else contentUser" class="text-danger text-center mt-3">
        Không tìm thấy tài khoản
      </p>

      <ng-template #contentUser>
        <tbody class="text-center bodyTable">
          <tr *ngFor="let user of userList; let order = index">
            <th scope="row">{{ order + 1 + (userPagination.currentPage - 1) * 10 }}</th>
            <td>{{ user.taiKhoan }}</td>
            <td>{{ user.hoTen }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.soDt }}</td>
            <td>{{ user.maLoaiNguoiDung}}</td>
            <td>
              <a class="editBtn" href="/edit-user/{{user.taiKhoan}}" mat-raised-button target="blank">
                <mat-icon>edit</mat-icon>
              </a>
              <a class="deleteBtn " (click)="handleDelete(user.taiKhoan)" mat-raised-button target="blank">
                <mat-icon>delete_outline</mat-icon>
              </a>
            </td>
          </tr>
        </tbody>
      </ng-template>
    </table>

    <mat-paginator color="warn" [length]="userPagination.totalCount" [pageSize]="10" aria-label="Select page"
      (page)="changePage($event)" showFirstLastButtons="true">
    </mat-paginator>
  </ng-template>
</div>
